
//Colors
$color1: #6e3ea1
$color2: #8b5ebb
$color3: #e6d7f7

*,
*::before,
*::after
    margin: 0
    padding: 0
    box-sizing: border-box

.app
    width: 100vw
    height: 100vh
    overflow: hidden
    background-color: $color3
    display: grid
    place-items: center
    font-family: "Poppins"
    


.active
    border: 2px solid $color1!important
